<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <h1>Búsqueda de país</h1>
      <form>
        <p v-if="error !== null" :style="{color:'red'}">{{ error }}</p>
        <p>
          <input
            id="countryName"
            v-model="countryName"
            type="text"
            name="q"
            placeholder="Nombre del país"
          />
          <button @click="submitForm">Buscar</button>
        </p>
      </form>
      <div v-if="loading">Espere por favor...</div>
      <div v-if="countries !== null">
        <h1>Listado de países</h1>
        <p v-if="!countries.length" :style="{color:'red'}">
          No se han encontado coincidencias para su búsqueda. Inténtelo de
          nuevo.
        </p>
        <table v-if="countries.length" class="table">
          <tr>
            <th>Nombre completo</th>
            <th>Capital</th>
            <th>Región</th>
            <th>Idioma principal</th>
            <th>Bandera</th>
          </tr>

          <tr v-for="country in countries">
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.region }}</td>
            <td>{{ country.languages[0].name}}</td>
            <td>
              <img :src="country.flag" width="30px" />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script src="js/formulario.js"></script>
  </body>
</html>
